body{
  background-image: url("https://thumbs.dreamstime.com/b/kerala-boat-house-india-tourism-back-waters-169948196.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(3px);
}
